# Arquivos gerados pelo Python
*.pyc
__pycache__/

# Arquivos de relatórios e gráficos gerados
grafico_categorias.png
relatorio.txt

# Arquivos de ambiente virtual (caso use um)
venv/
.env

# Configurações de IDE (se usar VSCode, PyCharm, etc.)
.vscode/
.idea/

# Logs
*.log
